<table>
  <tr>
    <th>
      <label>Click on either rock paper or scissors</label>
    </th>
    <th>
      <label>Robot</label></th>
  </tr>
  <tr>
    <td>
      <img  src="../../assets/images/rock.jpg" width="100" height="100" (click)="playGames('rock')">
      <img  src="../../assets/images/paper.jpg" width="100" height="100" (click)="playGames('paper')">
      <img  src="../../assets/images/scissors.jpg" width="100" height="100" (click)="playGames('scissors')">
    </td>
    <td>
      <img  src="../../assets/images/rock.jpg" width="100" height="100">
      <img  src="../../assets/images/paper.jpg" width="100" height="100">
      <img  src="../../assets/images/scissors.jpg" width="100" height="100">
    </td>
  </tr>
</table>
<div  style="background-color: darkslategrey; color: red; text-align: center" *ngIf="result">
  <p>{{resultDescription}}</p>
</div>
<table *ngIf="result">
  <tr>
    <th>
      <label>User Selection</label>
    </th>
    <th>
      <label>Robot Selection</label>
    </th>
  </tr>
  <tr>
    <td>
      <img *ngIf="userValue ==='rock'"  src="../../assets/images/rock.jpg" width="100" height="100">
      <img *ngIf="userValue ==='paper'" src="../../assets/images/paper.jpg" width="100" height="100">
      <img *ngIf="userValue ==='scissors'" src="../../assets/images/scissors.jpg" width="100" height="100">
    </td>
    <td>
      <img *ngIf="robotValue ==='rock'" src="../../assets/images/rock.jpg" width="100" height="100">
      <img *ngIf="robotValue ==='paper'" src="../../assets/images/paper.jpg" width="100" height="100">
      <img *ngIf="robotValue ==='scissors'" src="../../assets/images/scissors.jpg" width="100" height="100">
    </td>
  </tr>
</table>

<router-outlet></router-outlet>
